This is the first tutorial on using Pandas data frames for professional astronomy.  In this example, we import common types of astronomical data into Pandas DataFrames.  -jrigby, 10/2016

In [47]:
import pandas
from astropy.io import ascii
from astropy.table import Table
from astropy.utils.data import download_file

In [33]:
# Read a simple ascii text file into Pandas
df1 = pandas.read_table("zody_and_ism.txt", delim_whitespace=True, comment="#")
df1.head()

   wave      zody       ISM
0   0.5  0.130794  0.000470
1   0.6  0.167639  0.000725
2   0.7  0.171173  0.001048
3   0.8  0.160736  0.001440
4   0.9  0.150599  0.001907

In [34]:
# Read a simple .csv (comma-separated variable) file into Pandas
df2 = pandas.read_csv("thermal_curve_jwst_jrigby_1.1.csv", comment="#", names=("wave", "bkg"))
df2.head()

   wave       bkg
0   5.0  0.000049
1   5.1  0.000069
2   5.2  0.000096
3   5.3  0.000131
4   5.4  0.000178

In [ ]:
# Read a machine-readable table from an ApJ paper into Pandas, via astropy.Table
file2 = "http://iopscience.iop.org/2041-8205/814/1/L6/suppdata/apjl521409t1_mrt.txt"
temp_table = ascii.read(file2) # this automagically gets the format right.
df3 = temp_table.to_pandas()  # Convert from astropy Table to Pandas Data Frame.  Needs astropy 1.2
df3.head(1)

In [43]:
# Read a binary .fits table into Pandas, via astropy.Table
stsci_file = "example_bkgs.fits"
tab = Table.read(stsci_file)
stsci_df = tab.to_pandas()
# If you're feeling fancy, you can do it in one line:
stsci_df1 = Table.read(stsci_file).to_pandas()
stsci_df1.tail()

    wavelength   background      thermal  straylight    infield
83        26.5  1427.874634  1401.599976    2.511520  23.763126
84        27.5  1834.911255  1809.349976    2.450313  23.110891
85        28.5  2328.179688  2303.350098    2.387528  22.442274
86        29.5  2918.189453  2894.100098    2.323990  21.765467
87        30.5   184.821243   161.739136    1.994993  21.087128

In [44]:
# Note, an endian-ness mismatch between FITS and numpy can cause
# gruesome errrors if you import this WRONG way:
#   (mcat, mcat_hdr) = fits.getdata(mastercat_file, header=True) #WRONG
#   pmcat = pandas.DataFrame.from_records(mcat)  # WRONG
# USE .to_pandas() to avoid this.  See https://github.com/astropy/astropy/issues/1156

In [ ]:
# You can read really big binary fits tables.  May take a while to download.
# Here, let's read the 3D-HST master catalog.
download_file("http://monoceros.astro.yale.edu/RELEASE_V4.1.5/3dhst.v4.1.5.master.fits.gz")
#mastercat_file = "3dhst.v4.1.5.master.fits.gz"
#pmcat = Table.read(mastercat_file).to_pandas()

Downloading http://monoceros.astro.yale.edu/RELEASE_V4.1.5/3dhst.v4.1.5.master.fits.gz